<% include partials/header %>

<div class="container-bottom">
  
   <ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    <li class="active"><a href="/ngos/A">A</a></li>
    <li class="waves-effect"><a href="/ngos/B">B</a></li>
    <li class="waves-effect"><a href="/ngos/C">C</a></li>
    <li class="waves-effect"><a href="/ngos/D">D</a></li>
    <li class="waves-effect"><a href="#!">E</a></li>
    <li class="waves-effect"><a href="#!">F</a></li>
    <li class="waves-effect"><a href="#!">G</a></li>
    <li class="waves-effect"><a href="#!">H</a></li>
    <li class="waves-effect"><a href="#!">I</a></li>
    <li class="waves-effect"><a href="#!">J</a></li>
    <li class="waves-effect"><a href="#!">K</a></li>
    <li class="waves-effect"><a href="#!">L</a></li>
    <li class="waves-effect"><a href="#!">M</a></li>
    <li class="waves-effect"><a href="#!">N</a></li>
    <li class="waves-effect"><a href="#!">O</a></li>
    <li class="waves-effect"><a href="#!">P</a></li>
    <li class="waves-effect"><a href="#!">Q</a></li>
    <li class="waves-effect"><a href="#!">R</a></li>
    <li class="waves-effect"><a href="#!">S</a></li>
    <li class="waves-effect"><a href="#!">T</a></li>
    <li class="waves-effect"><a href="#!">U</a></li>
    <li class="waves-effect"><a href="#!">V</a></li>
    <li class="waves-effect"><a href="#!">W</a></li>
    <li class="waves-effect"><a href="#!">X</a></li>
    <li class="waves-effect"><a href="#!">Y</a></li>
    <li class="waves-effect"><a href="#!">Z</a></li>
    <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
  </ul>

<% if (ngos.length != 0) { %>
<div class="container container-bottom">
    
    <% for(var i = 0; i < ngos.length; i=i+3) { %>
    <div class="row">
        <% for(var j = i; j < i+3; j=j+1) { %>
            <% if(j < ngos.length) { %>
                <div class="col m4 event-card">
                    <div class="card plain-card padding10 light-orange">
                        <div class="card-body">
                            <h5 class="red-text text-darken-3"> <%= ngos[j]._source.name %></h5>
                            
                            <p>
                                <% if(ngos[j]._source["formatted_address"]) { %>
                                <span><%= ngos[j]._source["formatted_address"] %> </span>
                                <% } %>
                            </p>
                            
                            <p>
                                <% if(ngos[j]._source["gs_data"] && ngos[j]._source["gs_data"]["ruling_year"]) { %>
                                <span><%= ngos[j]._source["gs_data"]["ruling_year"] %> </span>
                                <% } %>
                                
                            </p>
                            <% if(ngos[j]["_id"]) { %>
                                <p>
                                    <a class="teal-text" target="_blank" href="/ngo/<%= ngos[j]._id %>">More Details &nbsp;<i class="fa fa-link"></i></a>
                                    <% if(ngos[j]._source["source"]) { %>
                                        <span class="new badge" data-badge-caption='<%= ngos[j]._source["source"] %>'>&nbsp;</span>
                                    <% } %>
                                </p>
                            <% } %> 
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    <% } %>
    
</div>
<% } else { %>
<div class="container container-bottom">
    <blockquote>
          There are no ngos in this category!
    </blockquote>
</div>
<% } %>


<% include partials/footer %>