<% include partials/header %>
<% if (ngo.location) { %>
<div class="map-container">
    <div id="map"></div>
</div>
<% } %>
<div class="container center" itemscope itemtype="http://schema.org/NGO">
	<h4 itemprop="name"><%= ngo.name %></h4>
	<% if(ngo.rating) { %>
        Rated as : <span class="chip teal white-text"><%= ngo.rating %></span> on Charity Watch
    <% } %>
	<h6 itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><%= ngo.address %></h6>
	<% if (ngo.fb_data && ngo.fb_data.phone) { %>
	<p itemprop="telephone"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<%= ngo.fb_data.phone %></p>
	<% } %>
	
	<% if (ngo.link) { %>
		<p>
			<% if (ngo.fb) { %>
				<a href="<%= ngo.fb %>"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				&nbsp;|&nbsp;
			<% } %>
			<% if (ngo.tw) { %>
					<a href="<%= ngo.tw %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				&nbsp;|&nbsp;
			<% } %>
			<a href="<%= ngo.link %>">
		    	<i class="fa fa-globe" aria-hidden="true"></i>
		  	</a>
		</p>
	<% } else if (ngo.source_link) { %>
		<p>
			<% if (ngo.fb) { %>
					<a href="<%= ngo.fb %>"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				&nbsp;|&nbsp;
			<% } %>
			<% if (ngo.tw) { %>
					<a href="<%= ngo.tw %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				&nbsp;|&nbsp;
			<% } %>
			<a href="<%= ngo.source_link %>">
		    	<i class="fa fa-link" aria-hidden="true"></i>&nbsp;Website
		  </a>
		</p>
	<% } else { %>
	<% } %>
	<% if (ngo.areas) { %>
		<p>
		<% for(var i = 0; i < ngo.areas.length; i=i+1) { %>
			<span class="chip teal white-text"><%= ngo.areas[i] %></span>&nbsp;
		<% } %>
		</p>
	<% } %>
	<% if (ngo.source_data && ngo.source_data.irs_subsection) { %>
		<div class="tbpadding10">
			<div class="chip">
		    	<%= ngo.source_data.irs_subsection %>
		  </div>
		</div>
	<% } %>
	<% if (ngo.mission) { %>
	   <p class="tbpadding10">
		<%= ngo.mission %>
		</p>
	<% } else if (ngo.fb_data && ngo.fb_data.mission) { %>
	<p class="tbpadding10">
		<%= ngo.fb_data.mission %>
	</p>
	<% } else if (ngo.fb_data && ngo.fb_data.about) { %>
	<p class="tbpadding10">
		<%= ngo.fb_data.about %>
	</p>
	<% } %>
</div>
<% if (ngo.fb_events && ngo.fb_events.data) { %>
<div class="center tbpadding10">
	<h5> Events </h5>
	<div class="row">
	<% for(var i=0; i < min(ngo.fb_events.data.length,4); i++) { %>
	<div class="col s12 m3">
	   	<div class="card horizontal" style="padding:10px">
	      <div class="card-stacked">
	        <h6 class="teal-text"><%= substr(ngo.fb_events.data[i].name,40) %></h6>
	        <div class="card-content">
	          <p><%= substr(ngo.fb_events.data[i].description,100) %></p>
	        </div>
	      </div>
   		</div>
   	</div>
	<% } %>
	</div>
</div>
<% } %>
<% if (ngo.gs_data && ngo.gs_data.exchange && ngo.gs_data.exchange.photos && ngo.gs_data.exchange.photos.length >= 3) { %>
<div class="center tbpadding10">
	<h5> Photo Gallery </h5>
	<div class="row">
	<% for(var i=0; i < min(ngo.gs_data.exchange.photos.length,4); i++) { %>
	<div class="col s12 m4">

          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="<%= ngo.gs_data.exchange.photos[i].url %>">
              
            </div>
            <div class="card-content">
              <p><%= ngo.gs_data.exchange.photos[i].caption %></p>
            </div>
          </div>
   	</div>
	<% } %>
	</div>
</div>
<% } %>

<!--<% if (ngo.gs_data && ngo.gs_data.exchange && ngo.gs_data.exchange.videos && ngo.gs_data.exchange.videos.length != 0) { %>
<div class="center tbpadding10">
	<h5> Video Gallery </h5>
	<div class="row">
	<% for(var i=0; i < min(ngo.gs_data.exchange.videos.length,4); i++) { %>
	<div class="col s12 m4">

          <iframe src="http://www.youtube.com/embed/S_EK5trs1sI" frameborder="0" allowfullscreen></iframe>
          
   	</div>
   	<div class="col s12 m4">

          <iframe src="http://www.youtube.com/embed/S_EK5trs1sI" frameborder="0" allowfullscreen></iframe>
          
   	</div>
	<% } %>
	</div>
</div>
<% } %>-->
<div class="container-bottom">&nbsp;</div>
<% if (ngo.location) { %>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap">
</script>
<script type="text/javascript">
	function initMap() {
		var map, initialLocation, marker, mapOptions, infowindow;
	   initialLocation = new google.maps.LatLng(<%= ngo.location.lat %>,<%= ngo.location.lon %>);
	   mapOptions = {
	       zoom: 12,
	       center: initialLocation
	   }
	   map = new google.maps.Map(document.getElementById('map'), mapOptions);
	   marker = new google.maps.Marker({
	       position: initialLocation,
	       title: "<%= ngo.name %>"
	   });
	   infowindow = new google.maps.InfoWindow({
	       content: "<%= ngo.name %>"
	     });
	   marker.addListener('click', function() {
	       infowindow.open(map, marker);
	   });
	   marker.setMap(map);
	}
</script>
<% } %>
<% include partials/footer %>